video{
    width:80vw;
    height:auto;
    margin-top:4rem;
    margin-left:10vw;
    display:block;
}

.about-text{
    box-sizing: border-box;
    padding: 4rem 8rem;
    border:2px solid black;
    width:80vw;
    margin-left: 10vw;
    margin-top:4rem;
    border-radius:1rem;
    font-size:1.5rem;
    margin-bottom:4rem;
}

@media screen and (max-width: 400px) {
    .about-text {
        padding: 2rem 4rem;
    }
}
