#root {
    overflow-y: hidden;
    max-height: 100vh;
} 
 
 .certify-box{
    background-image: url("/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.certify{
    width: 85%;
    margin: auto;
    padding: 20px;
}

.certify h1{
    text-align: center;
    color:var(--h1-color);
    margin-bottom: 30px;
}

.certify .details {
    width: fit-content;
}

.certify .details p {
    font-size: 2rem;
    font-weight: 600;
}

.certify > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

.certify > div:nth-child(3) button:nth-child(1){
    background-color: var(--button-bg-color-2);
    border-radius: 20px;
    padding: 5px 12px;
    border:none;
    cursor: pointer;
    color: var(--button-bg-color);
    font-weight: 500;
}

.certify > div:nth-child(3) button:nth-child(2){
    
    background-color:var(--button-bg-color-3);
    border-radius: 20px;
    padding: 5px 12px;
    border:none;
    cursor: pointer;
    color: var(--color-white);
    font: 500;
    position:absolute;
    top:20%;
    right: 30rem;

}

.certify .image{
    width: auto;
    height: 80vh;
    /* background-image: url(/certificate.png); */
    /* background-size:/ contain; */
    /* background-repeat: no-repeat; */
    position: fixed;
    right: 16rem;
    top: 25%;
    aspect-ratio: 9 / 16;
}

.certify .image h1{
    width: 100%;
    top: 26vh;
    left: 36%;
    transform: translateX(-50%);
    position: absolute;
    /* font-size: calc(var(--primary-font)*2); */
}
.social-visible{
    display: none !important;
}
 .social-links-certify{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
} 

 .text{
    visibility: hidden;
}

.details{
    margin-top:1rem;
    border: 2px solid black;
    width: fit-content;
    padding: 2rem;
    border-radius: 0.5rem;
}

@media(max-width:300px){
    .certify h1{
        font-size: large;
    }
    .certify > p{
        font-size: medium;
    }
    .certify .image{
        height: 82vh;
        margin-bottom: 0px;
    }

    .certify div{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .social-visible{
        display: block !important;
    }
    .social-links-certify{
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
    }
}

@media((min-width:300px) and (max-width:768px)){
    .certify h1{
        font-size: 17px;
        margin-top: -8px;
    }

    .certify .details {
        margin-top: -3rem;
        padding: 0.25rem
    }
    .certify .details p {
        font-size: 10px !important;
        margin-top: -15px;
    }

    .certify .details p:nth-child(1) {
        margin-top: 0;
    }
    
    .certify .image{
        width: auto;
        height: 250px;
        position: absolute;
        margin-left: 21rem;
        transform: translateY(0vh);
        top: 426px;
        left: -17rem;

    }

    .certify div{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        width: 70vw !important;
        /* margin-left: 10rem; */
    }
    .social-visible{
        display: block !important;
    }
    .social-links-certify{
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
    }
    .herologo{
        display: none;
    }


    .certify > div:nth-child(3) button:nth-child(2){
    top: 323px;
    
    left: 12rem;
    right: auto;
    }


    .certify .image:nth-child(1) {
        transform: translateY(-124px) translateX(-18px)!important;
    }

    .certify .image h1{
        font-size: 10px;
        position: absolute;
        top: 161px;
        width: 205px;
        
    }


    .certify .image h1:nth-child(2) {
        top: 185px;
        left: 6rem;
        transform: translateY(0px) translateX(0px) !important;
    }
    .certify > div:nth-child(4) button:nth-child(1){
        margin-left: -9rem;
    }

    .certify > p {
        margin-top: -10px;
    }

    .certify > img {
        margin-top: -5px;
        width: 300px
    }
} 

